.cart{
    margin-top: 100px;

    hr{
        height: 1px;
        background-color: #e2e2e2;
        border: none;
    }

    .cart-items-title{
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
        align-items: center;
        color: grey;
        font-size: max(1vw, 12px);
    }

    .cart-items-item{
        margin: 10px 0px;
        color: black;

        img{
            width: 50px;
        }

        .cross{
            color: tomato;
            cursor: pointer;
        }
    }

    .cart-bottom{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        gap: max(12vw, 20px);

        .cart-promo-code{
            flex: 1;

            p{
                color: #555;
            }

            .cart-promocode-input{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #eaeaea;
                border-radius: 4px;

                input{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    padding-left: 10px;
                }

                button{
                    width: max(10vw, 150px);
                    padding: 12px 5px;
                    background-color: black;
                    color: white;
                    border: none;
                    border-radius: 4px;

                }
            }
        }

        .cart-total{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;

            hr{
                margin: 15px 0;
            }

            button{
                border: none;
                color: white;
                background-color: tomato;
                width: max(15vw, 200px);
                padding: 12px 0px;
                border-radius: 4px;
                cursor: pointer;
            }

            .cart-total-detail{
                display: flex;
                justify-content: space-between;
                color: #555;
            }
        }
    }

}

@media (max-width: 750px) {
    .cart{
        .cart-bottom{
            flex-direction: column-reverse;

            .cart-promo-code{
                justify-content: start;
            }
        }
    }
}